@model List<CampanhaViewModel>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/css/campanha.css")" asp-append-version="true"/>
</head>

<div class="container-campanha container">
    <div>
        <a 
         asp-controller="Campanha" asp-action="Create" class="btn Rpg-Button" style="float:right">Criar Campanha</a>
        <br />
        <div class="campanha-row">
            @foreach(var campanha in Model)
            {
                <div class="col-lg-8">

                    <a href="javascript:apagarCampanha(@campanha.Id)" class="btn btn-lg text-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a asp-action="Edit" asp-controller="Campanha" asp-route-id="@campanha.Id" class="btn btn-lg text-warning">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a asp-action="Details" asp-controller="Campanha" asp-route-id="@campanha.Id" class="btn btn-lg text-white">
                        <i class="fa fa-circle-info"></i>
                    </a>
                    <img id="imgPreview" src="data:image/jpeg;base64,@campanha.FotoCapaBase64" class="figure-img" />
                    <label>@campanha.Nome</label>
                </div>
            }
        </div>
    </div>
</div>