@model List<PersonagemViewModel>
@using FichaRPG.DAO;
@{
    var classeDao = new ClasseDAO();
    var environment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
    var basePath = (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production")
      ? "https://www.danieloliveira.net.br/FichaRPG/"
      : "~/";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content(basePath + "css/personagem.css")" asp-append-version="true" />
</head>

<div class="container">
    <div class="rpg-coluna">
        <div class="rpg-personagens">
            <div class="rpg-card-body">
                <div class="rpg-header">
                    <h2 class="text-center">Seus Personagens</h2>
                </div>

                @foreach (var Personagem in Model)
                {
                    <div class="rpg-row w-25">
                        <div class="rpg-card">
                            <div class="rpg-card-2">
                                <div class="rpg-card-body">

                                    <div class="rpg-card-title">
                                        <label class="text-danger fw-bold">@Personagem.Nome</label>
                                    </div>

                                    <span style="height:100px" class="text-white bg-dark w-100">@classeDao.Consulta(Personagem.ClasseId).Nome</span>
                                    <a asp-protocol="https"
                                        asp-host="@(environment == "Production" ? "www.danieloliveira.net.br/FichaRPG" : null)"
                                       asp-action="AtribuirCampanhaPersonagem" asp-controller="Campanha" asp-route-personagemId="@Personagem.Id"
                                    asp-route-campanhaId="@ViewBag.CampanhaId"
                                    class="Rpg-Button btn mt-2">Adicionar Personagem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
